.header {
  padding: 20px 0;
  text-transform: uppercase;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  text-align: center;
  gap: 0 30px;
}

.logo {
  font-weight: 700;
  font-size: 28px;
}
.header__item {
  position: relative;
  font-size: 18px;
}
.header__item:before,
.avone__text::before,
.footer__email::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  background-color: #22262a;
  height: 1px;
  width: 0;
}
.header__svg-wrapper {
  display: flex;
  gap: 0 40px;
}

.header__svg {
  width: 25px;
  height: 25px;
}
.header__svg svg {
  width: 100%;
  height: 100%;
}
.collusion {
  background-image: url(../img/collusion/collusion__bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.collusion__wrapper {
  min-height: calc(100dvh - 72px);
  display: flex;
  justify-content: end;
  align-items: end;
}
.collusion__row {
  margin-bottom: 101px;
  text-transform: uppercase;
}
.collusion__desc,
.collusion__text {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 18px);
}
.collusion__title {
  font-weight: 700;
  font-size: clamp(36px, 2vw, 80px);
}
.collusion__text {
  text-transform: none;
  margin-bottom: 31px;
}
.collusion__btn-wrapper {
  display: flex;
  gap: 31px;
}
.collusion__btn {
  padding: 4px 28px;
  background-color: #22262a;
  color: #fff;
}
.category {
  padding: 65.5px 0 55.5px;
}
.category__wrapper {
  display: flex;
  gap: 0 26px;
}

.category__col {
  flex: 1 1 50%;
}
.category__first-col {
  display: flex;
  flex-direction: column;
  gap: 23px 0;
}

.category__wrap {
  display: flex;
  gap: 0 26px;
}
.category__first-img-wrap {
  padding-bottom: 51.90563%;
}
.category__second-img-wrap {
  padding-bottom: 101.14503%;
}
.category__third-img-wrap {
  padding-bottom: 101.4044%;
  height: 100%;
  position: relative;
}
.btn {
  font-weight: 500;
  font-size: clamp(10px, 2vw, 18px);
  text-transform: uppercase;
  text-align: center;
}
.category__btn {
  position: absolute;
  top: 90%;
  left: 5%;
  background-color: #ffffff;
  color: #22262a;
  padding: 4px 25px;
  text-transform: uppercase;
}

.mens,
.womens,
.avone {
  padding: 55.5px 0;
  text-transform: uppercase;
}
.hgroup {
  text-align: center;
}
.womens__hgroup {
  margin-bottom: 65px;
}
.mens__hgroup {
  margin-bottom: 72px;
}
.title {
  font-weight: 700;
  font-size: 20px;
}
.desc {
  text-transform: none;
}
.womens__title,
.mens__title {
  margin-bottom: 15px;
}
.wrap {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}
.col {
  flex-grow: 1;
}
.img__wrap {
  line-height: 0;
  position: relative;
  overflow: hidden;
}
.womens__img__wrap,
.mens__img__wrap {
  padding-bottom: 138.433%;
  display: block;
  margin-bottom: 35px;
}
.img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.text {
  font-weight: 300;
  margin-bottom: 6px;
}
.subtitle {
  font-weight: 600;
  margin-bottom: 6px;
}
.price__wrap {
  display: flex;
  gap: 0 36px;
}
.current-price {
  text-decoration: line-through;
}
.discount-price {
  color: #cf2929;
}
.avone {
  margin-bottom: 120px;
}
.avone__hgroup {
  margin-bottom: 60px;
}
.avone__desc {
  text-transform: capitalize;
}
.avone__row {
  display: flex;
  gap: 26px;
}
.avone__col {
  flex: 1 1 50%;
}
.avone__first-img-wrap {
  margin-top: 87px;
  padding-bottom: 109.058%;
}
.avone__second-img-wrap {
  padding-bottom: 82.7432%;
  overflow: visible;
  margin-right: 38px;
}
.avone__second-img-wrap::after {
  content: url(../img/avone/avone-second-col-littel-photo.png);
  position: absolute;
  top: 86.031%;
  left: 59.34%;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
  width: 44.16%;
  height: 54.67%;
}
.avone__text {
  position: absolute;
  cursor: pointer;
  top: 138.581%;
  left: 23.93%;
  text-transform: uppercase;
  height: 2.55%;
}
.tachen {
  background-image: url(../img/tachen/tachen__bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.tachen__wrapper {
  min-height: 100dvh;
  display: flex;
  align-items: end;
}
.tachen__row {
  margin-bottom: 129px;
  text-transform: uppercase;
}
.tachen__desc {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 22px;
}
.tachen__title {
  font-weight: 700;
  font-size: clamp(36px, 2vw, 80px);
  margin-bottom: 22px;
}
.tachen__btn {
  font-weight: 500;
  font-size: 18px;
  padding: 4px 26px;
  background-color: #22262a;
  color: #fff;
}
.footer {
  padding: 115px 0 0;
  background: #f2f8fc;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.footer__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 25px;
}
.footer__input {
  width: 100%;
  border-radius: 5px;
  padding: 11px 24px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
}
.footer__logo,
.footer__search,
.footer__sutitle {
  text-transform: uppercase;
}
.footer__list {
  display: flex;
  gap: 21px;
  flex-direction: column;
  text-transform: capitalize;
}
.footer__second-col {
  display: flex;
  flex-direction: column;
  gap: 70px 0;
}
.footer__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.adress__email {
  margin-bottom: 7px;
}
.footer__email {
  position: relative;
}
.footer__location {
  margin-bottom: 17px;
}

.footer__sutitle {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 20px;
}
.footer__list-item {
  display: flex;
  gap: 0 88px;
}
.footer__first-col {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__text {
  max-width: 400px;
  line-height: 30px;
  margin-bottom: 24px;
}
.footer__label {
  position: relative;
}
.footer__btn {
  position: absolute;
  top: 4px;
  right: 23px;
  font-weight: 600;
}
.second__conteiner {
  display: flex;
  justify-content: center;

  text-align: center;
  padding: 35px;
  background-color: #e7f5f8;
}

@media (max-width: 990px) {
  .category__wrapper {
    flex-direction: column;
    gap: 26px 0;
  }
}
@media (max-width: 928px) {
  .header__list {
    gap: 0 15px;
  }
}
@media (max-width: 866px) {
  .header {
    position: relative;
  }
  .header__svg-wrapper {
    margin: 0 20px 0 auto;
    gap: 25px;
  }
  .header__btn-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    flex-shrink: 0;
  }
  .header__list {
    flex-direction: column;
    gap: 3px 0;
  }
  .header__nav {
    display: none;
  }
  .header__nav_open {
    display: block;
    position: absolute;
    right: 10px;
    top: calc(100% + 5px);
    background-color: #fff;
    border-radius: 5px;
  }

  .header__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #22262a;
    border-radius: 2px;
    transition: 0.3s;
  }

  .header__line:nth-of-type(1) {
    top: 0;
  }

  .header__line:nth-of-type(2) {
    top: 9px;
  }

  .header__line:nth-of-type(3) {
    top: 18px;
  }
  .header__btn-menu_open .header__line:nth-of-type(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__btn-menu_open .header__line:nth-of-type(2) {
    display: none;
  }

  .header__btn-menu_open .header__line:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 9px;
  }
}
@media (max-width: 550px) {
  .category__wrap {
    flex-direction: column;
    gap: 26px;
  }
}
@media (max-width: 640px) {
  .avone__row {
    flex-direction: column;
  }
  .avone {
    margin-bottom: 250px;
  }
}
@media (max-width: 1000px) {
  .avone__text {
    left: 5.93%;
  }
}
@media (hover: hover) {
  .womens__img__wrap:hover,
  .mens__img__wrap:hover {
    transition: 0.5s;
    transform: scale(1.03);
  }
  .collusion__btn:hover,
  .tachen__btn:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #22262a;
  }

  .category__btn:hover {
    transition: 0.5;
    transform: scale(1.03);
    background-color: #22262a;
    color: #fff;
  }
  .header__item:hover:before,
  .avone__text:hover:before,
  .footer__email:hover:before {
    transition: 0.3s;
    width: 100%;
  }
}
@media (max-width: 994px) {
  .col {
    flex: calc(50% - 11px);
  }
  .category__wrapper {
    flex-direction: column;
    gap: 26px 0;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .category__btn {
    font-size: 13px;

    padding: 3px 18px;
  }
}
